<h1>Seja bem vindo ao Cars.net!</h1>
<p>Seja bem vindo ao Colcho.net, <%= %{user.full_name} %> O Colcho.net é o lugar ideal para você alugar aquele quarto sobrando na sua casa e ainda conhecer gente do mundo inteiro.</p>
<p>Para você começar a usar o site, acesse o link: <%= link_to(@confirmation_link, @confirmation_link) %>  </p>
<p>Obrigado por se cadastrar no <%= link_to 'Cars.net', root_url %> </p>